<%- include('partials/header'); -%>
<style>
  .card {
    margin-top: 30px;
    margin-bottom: 55px;
  }
</style>

<div class="container">
  <div class="card user_card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <h5 class="card-title">User Login</h5>
      <!-- <p class="card-text">Login .</p> -->
      <a href="/userLogin" class="btn btn-primary">Sign-In as User</a>
    </div>
  </div>


  <div class="card admin_card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <h5 class="card-title">Admin Login</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="/adminLogin" class="btn btn-primary">Sign-In as Admin</a>
    </div>
  </div>

  <div class="card sign_up_card">
    <div class="card-header">
      Sign-up
    </div>
    <div class="card-body">
      <h5 class="card-title">Sign-up</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="/register" class="btn btn-primary">Register</a>
    </div>
  </div>

</div>


<%- include('partials/footer'); -%>